.button:hover { 
    -fx-background-color: rgb(255, 255, 255);
}

.button:pressed {
    -fx-background-color: rgb(232, 255, 221);
}

.button {
    -fx-background-color: #dfd;
}



 .greyButton:hover { 
    -fx-background-color: rgb(139, 208, 248);
}

.greyButton:pressed {
    -fx-background-color: rgb(107, 170, 206);
}

.greyButton {
    -fx-text-fill: white;
    -fx-background-color: rgb(104, 189, 238);
}


.blueTextField {
    -fx-background-color: rgb(139, 208, 248);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #eee;
}


/* .greyButton:hover { 
    -fx-background-color: rgb(212, 212, 212)
}

.greyButton:pressed {
    -fx-background-color: rgb(200, 200, 200)
}

.greyButton {
    -fx-background-color: #ddd
}


.shadowButton {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 30,0,0,4 )
} */