.button:hover { 
    -fx-background-color: rgb(255, 255, 255)
}

.button:pressed {
    -fx-background-color: rgb(232, 255, 221)
}

.button {
    -fx-background-color: #dfd
}



.greyButton:hover { 
    -fx-background-color: rgb(212, 212, 212)
}

.greyButton:pressed {
    -fx-background-color: rgb(200, 200, 200)
}

.greyButton {
    -fx-background-color: #ddd
}


.shadowButton {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 30,0,0,4 )
}