.list-cell {
  -fx-font: 20pt "Segoe UIl";
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #beb;
    -fx-text-fill: white;
} 

/* .list-cell:even { 
    -fx-background-color: white;
} */

.list-cell:filled:hover {
    -fx-background-color: #beb;
    -fx-text-fill: white;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:#beb;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}


/* .list-view .scroll-bar:vertical .increment-button {
  visibility: false;
} */

.list-view .scroll-bar:vertical {
    -fx-background-color: #ffffff;
}